.catagory_item {
	display: flex;
	position: relative;
	margin: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	border-radius: 4px;
	height: 110px;
	width: 300px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
		rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
		rgba(0, 0, 0, 0.07) 0px 16px 16px;
	transition: all 2s ease-in;
}
.item_price {
	margin-bottom: 20px;
	font-weight: 600;
}
.remove {
	width: 25px;
	height: 25px;
	display: flex;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -10px;
	right: calc(50% - 15px);
	background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif;
	font-weight: 600;
	outline: transparent;
	text-align: center;
	transition: box-shadow 0.2s ease-in-out;
	touch-action: manipulation;
	white-space: nowrap;
	border-radius: 50%;
}
.catagory_item:hover > .catagory_name {
	transition: all 2s ease-in;
	display: block;
}
.catagory_name {
	display: none;
	position: absolute;
	background: rgb(251, 255, 32);
	color: rgb(112, 104, 104);
	padding: 1px 10px;
	width: fit-content;
	top: 0;
	left: 0;
	font-size: 11px;
	border-top-left-radius: 4px;
	transition: all 2s ease-in;
}
.catagory_title {
	margin: 10px 0;
	padding: 2px 0;
	font-size: 16px;
	text-align: center;
	background: #131313be;
	color: #fff;
	width: calc(100% - 20px);
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
		rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
		rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.item_div {
	display: flex;
	align-items: center;
	margin: 15px 0;
}

.removeExpense {
	background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
	border: 0;
	margin: 0 15px;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.9;
	outline: transparent;
	padding: 0 1rem;
	text-align: center;
	transition: box-shadow 0.2s ease-in-out;
	touch-action: manipulation;
	white-space: nowrap;
}

.remove:not([disabled]):focus {
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
		-0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
		0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.remove:not([disabled]):hover {
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
		-0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
		0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.catagory_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.nav {
	display: flex;
	flex-direction: row;
}

.active {
  color:#fff;
	background: #0c0c0c !important;
}
